*{
  padding:0;
  margin:0;
}
body {
  font-size: 13pt;
}
p,h1,h2,h3,h4,h5,h6{
  padding: 5px 0;
  margin: 0
}
.menu{
  position: sticky;
  top: 0;
  left: 0;
  background: #fff
}
a{text-decoration: none;color: inherit}
#recomDetail p{
  font-size: 10pt
}
#recomDetail p strong{
  color: limegreen;
}
.recommended div h4{
  font-size: 13pt;
  padding: 5px;
}
/*custom css framework*/
.underline{text-decoration: underline}
