@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
  padding:0;
  margin:0;
  font-family: 'Poppins', sans-serif;
}
body {
  font-size: 13pt;
  font-family: 'Poppins', sans-serif;
}
p,h1,h2,h3,h4,h5,h6{
  padding: 5px 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
hr{margin: 0 5px;padding: 0}
.menu{
  position: sticky;
  top: 0;
  left: 0;
  background: #fff
}
.webtitle h1{
  font-family: 'Poppins', sans-serif;
  font-weight: 800
}
a{text-decoration: none;color: inherit}
#recomDetail p{
  font-size: 10pt
}
#recomDetail p strong{
  color: limegreen;
}
.recommended div h4{
  font-size: 13pt;
  padding: 5px;
}
.qrcode{
  widows: 100%;
  height: auto;
  display: block;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.qrcode img{
  width: 50%;
  height: auto;
}
/*custom css framework*/
.underline{text-decoration: underline}
