@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
  padding:0;
  margin:0;
  font-family: 'Poppins', sans-serif;
}
body {
  font-size: 13pt;
  font-family: 'Poppins', sans-serif;
}
p,h1,h2,h3,h4,h5,h6{
  padding: 5px 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
hr{margin: 0 5px;padding: 0}
.menu{
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  background: #fff
}
.webtitle h1{
  font-family: 'Poppins', sans-serif;
  font-weight: 800
}
a{text-decoration: none;color: inherit}
#recomDetail p{
  font-size: 10pt
}
#recomDetail p strong{
  color: limegreen;
}
.recommended div h4{
  font-size: 13pt;
  padding: 5px;
}
.qrcode{
  widows: 100%;
  height: auto;
  display: block;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.qrcode img{
  width: 50%;
  height: auto;
}
/*custom css framework*/
.underline{text-decoration: underline}
/*New Item*/
.novels-main{
   margin:0;
   padding:0;
   max-width:100%;
   display:grid;
   grid-row-gap: 10px;
   grid-column-gap: 10px;
   grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
}
.novel-item{
   width:100%;
   height: 220px;
   position:relative;
   overflow: hidden;
   border:1px solid grey;
   border-radius: 7px
}
.novel-item a{
  text-decoration: none;
  color: inherit;
  cursor: none;
}
.novel-item img{
   width:inherit;
   height:100%;
}
.novel-item p{
   padding: 3px;
   margin: 0;
   width:100%;
   position:absolute;
   bottom:0;
   left:0;
   color:#ffffff;
   background: rgba(0, 0, 0, 0.5);
   white-space: nowrap;
   text-overflow: ellipsis;
   font-size: 10pt
}
.novel-item:hover p{
  height: 100%;
  padding: 5px;
  white-space: normal;
  text-align: center;
  font-size: 12pt
}
